html {
    width: 900px;
}
.header {
    background-image: -webkit-linear-gradient(160deg,#F6B400 50%, white 50%);
    height: 600px;
}
.section1 {
    display: flex;
    margin-top: -5px;
}
#logo {
    display: flex;
    font-style: italic;
    margin: 20px;
}
span {
    color: #F6B400;
}
#navbar {
    display: flex;
    margin-left: 20%;
    list-style: none;
    margin-top: 30px;
}
#navbar li{
    padding: 0 35px;
    margin-top: 15px;
}
.section2 {
    display: flex;
    margin-left: 60px;
    height: 300px;
   
}
.section2 #img{
    margin-right: 40px;
}
#rain {
    height: 400px;
    width: 300px;
}
.section2 #image1{
    margin-left: 30%;
}