html {
    width: 900px;
}
.header {
    background-image: -webkit-linear-gradient(160deg,#F6B400 50%, white 50%);
    height: 600px;
}
.section1 {
    display: flex;
    margin-top: -5px;
}
#logo {
    display: flex;
    font-style: italic;
    margin: 20px;
}
span {
    color: #F6B400;
}
#navbar {
    display: flex;
    margin-left: 20%;
    list-style: none;
    margin-top: 30px;
}
#navbar li{
    padding: 0 35px;
    margin-top: 15px;
}
.section2 {
    display: flex;
    margin-left: 60px;
    height: 300px;
   
}
.section2 #img{
    margin-right: 40px;
}
#rain {
    height: 400px;
    width: 300px;
}
.section2 #image1{
    margin-left: 30%;
}
.section3 {
    display: flex;
    margin-top: 0%;
    margin-left: 2px;
    justify-content: space-between;
    height: 400px;
    background-color: rgb(247, 253, 252);
    height: 500px;
}
.section3 h4{
    color: brown;
}
.section3 #quality{

    border: solid brown;
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    width: 250px;
    border-width: 2px;
    height: 220px;
    margin-top: 90px;
    margin-left: 12px;
}
.section3 #fast{
    border: solid brown;
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    width: 270px;
    margin-left: 8px;
    border-width: 2px;
    height: 270px;
    margin-top: 70px;
}
.section3 #delicious{
    border: solid brown;
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    width: 250px;
    margin-right: 12px;
    border-width: 2px;
    height: 220px;
    margin-top: 90px;