html{
    font-family: "poppins";
}
.header {
    background-image: -webkit-linear-gradient(160deg,#F6B400 50%, white 50%);
    height: 650px;
}
.section1 {
    display: flex;
    margin-top: -5px;
}
#logo {
    display: flex;
    font-style: italic;
    margin: 20px;
}
span {
    color: #F6B400;
}
#navbar {
    display: flex;
    margin-left: 20%;
    list-style: none;
    margin-top: 30px;
}
#navbar li{
    padding: 0 35px;
    margin-top: 15px;
    margin-left: 55px;
}
.section2 {
    display: flex;
    margin-left: 60px;
    height: 300px;
   
}
.section2 #img{
    margin-right: 40px;
}
#rain {
    height: 400px;
    width: 300px;
    margin-top: 100px;
}
.section2 #image1{
    margin-left: 30%;
}
.section3 {
    display: flex;
    margin-top: 0%;
    justify-content: space-between;
    height: 400px;
    background-color: rgb(247, 253, 252);
    height: 550px;
}
.section3 h4{
    color: rgb(146, 58, 58);
    font-size: 25px;
}
.section3 #quality{

    border: solid brown;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    width: 270px;
    border-width: 1px;
    height: 260px;
    margin-top: 120px;
    margin-left: 100px;
}
.section3 #fast{
    border: solid brown;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    width: 290px;
    margin-left: 2px;
    border-width: 1px;
    height: 310px;
    margin-top: 90px;
}
.section3 #delicious{
    border: solid brown;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    width: 270px;
    border-width: 1px;
    height: 260px;
    margin-top: 120px;
    margin-right: 40px;
}
.section4 #menu{
    margin-top: 30px;
    text-align: center;
}
.section4 h3{
    color: brown;
}
.section4 span{
    color: #F6B400;
}
.section4 #line1{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;

}
.section4 #price{
    display: inline-flex;
}
.section4 #line1 #double1{
    border: solid white;
    box-shadow: #E1EBE6;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
    padding-top: 15px;
    width: 270px;
    height: 340px;
    text-align: center;
    margin-left: 10px;
}
.section4 #line1 #double2{
    border: solid white;
    box-shadow: #E1EBE6;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
    padding-top: 15px;
    width: 270px;
    height: 340px;
    text-align: center;
    margin-left: 10px;
}
.section4 #line1 #double3{

    border: solid white;
    box-shadow: #E1EBE6;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
    padding-top: 15px;
    width: 270px;
    height: 340px;
    text-align: center;
    margin-left: 20px;
}
.section4 #line2{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}
.section4 #line2 #double4{
border: solid white;
box-shadow: #E1EBE6;
box-shadow: 1px 1px 1px 1px;
border-radius: 20px;
padding-top: 15px;
width: 270px;
height: 340px;
text-align: center;
margin-left: 10px;
}
.section4 #line2 #double5{
border: solid white;
box-shadow: #E1EBE6;
box-shadow: 1px 1px 1px 1px;
border-radius: 20px;
padding-top: 15px;
width: 270px;
height: 340px;
text-align: center;
margin-left: 20px;
}
.section4 #line2 #double6{
border: solid white;
box-shadow: #E1EBE6;
box-shadow: 1px 1px 1px 1px;
border-radius: 20px;
padding-top: 15px;
width: 270px;
height: 340px;
text-align: center;
margin-left: 20px;
}
.section5{
    display: flex;
    height: 650px;
    margin-top: 50px;
    background-color: rgb(247, 253, 252);
    justify-content: space-around;
}
.section5 #some{
    margin-left: 100px;
    margin-top: 100px;
}
.section5 #some h2 {
    font-size: 50px;
}
.section5 span{
    color: #F6B400;
}
.section5 img{
    margin-top: 100px;
    margin-left: 80px;
}
.section7 #one {
    display: flex;
}
.section7 #one h1{
    font-style: italic;
}
.section7{
    display: flex;
    background-color: rgb(247, 253, 252);
    justify-content: space-around;
}
.section7 #two{
    margin-left: 130px;
}

.section7 #two li{
    list-style: none;
}
.section7 #three{
    margin-left: 160px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}